
.testimonial-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .testimonial-section p {
    font-size: 1.2rem;
    color: #6c757d;
  }
  
  .testimonial-slider {
    display: flex;
    overflow: hidden;
  }
  
  .testimonial-card {
    padding-top: 20px;
    transition: transform 0.3s ease;
  }
  
  .testimonial-card .card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    background-color: #fff;
  }
  
  .testimonial-card h5 {
    font-size: 1.2rem;
    margin-bottom: 0;
    text-align: start;
  }
  
  .testimonial-card p {
    text-align: start;

    font-size: 1rem;
  }
  
  .star {
    color: #ffc107;
    font-size: 1.2rem;
  }
  
  .arrow-btn {
    background: white;
    border: none;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: #000;
    border-radius: 50%;

  }
  
  .arrow-btn:hover {
    color: #ff8800;
  }
  
  @media (max-width: 767px) {
    .testimonial-card.active {
      display: block !important;
    }
    .testimonial-card.visible {
      display: none !important;
    }
  }
  
  @media (min-width: 768px) {
    .testimonial-card {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }