.input-container {
    background-color: transparent;
    color: transparent;
    position: relative;
    width: 100%;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: #2d2d2d;
  }
  
  .input-field {
    background-color: transparent;
    width: 100%;
    color: #2d2d2d;
    padding: 8.5px ;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .input-field:focus {
    border-color: black;
  }
  
  .password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #2d2d2d;
  }
  
