.flyfishContainer {
  background-color: #f7f7f7;
  padding: 40px 60px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid #b0afaf;
  margin: 0 auto;
}

.flyfishLogo {
  height: 60px;
  width: 200px;
  margin-bottom: 70px;
}

.flyfishdescription {
  font-size: 0.9rem;
  color: #2d2d2d;
  font-family: Inter;
  font-weight: 300;
  margin-bottom: 50px;
}

.socialIcons {
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socialIcon {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: translateY(-4px);
}

.socialIcon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}


.call {
  font-size: 1.2rem;
  color: #333;
  margin: 15px 0;
}

.book {
  background-color: #ff8800;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 30px;
}

.book:hover {
  background-color: #e5941e;
}

/* Responsive Design */
@media (max-width: 768px) {
  .flyfishContainer {
    padding: 15px;
    max-width: 100%;
  }

  .flyfishLogo {
    font-size: 1.5rem;
  }

  .flyfishdescription {
    font-size: 0.9rem;
  }

  .socialIcon {
    font-size: 1.2rem;
  }

  .call {
    font-size: 1rem;
  }

  .book {
    font-size: 0.9rem;
    padding: 8px 15px;
  }
}

@media (max-width: 480px) {
  .flyfishLogo {
    font-size: 1.2rem;
  }

  .flyfishdescription {
    font-size: 0.8rem;
  }

  .socialIcons {
    flex-wrap: wrap;
    justify-content: center;
  }

  .socialIcon {
    margin: 5px;
  }

  .call {
    font-size: 0.9rem;
  }

  .book {
    font-size: 0.8rem;
    padding: 6px 12px;
  }
}